<body>
    <h1>Sistema gerenciador de filas</h1>
    <mat-card class="card">
        <mat-card-title>Entrar</mat-card-title>
        <mat-form-field>
            <mat-label>Usuário</mat-label>
            <input matInput autocomplete="off" name="usuario" [(ngModel)]="usuario" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input type="password" matInput name="senha" [(ngModel)]="senha" />
        </mat-form-field>
        <button (click)="logar()" mat-raised-button color="primary">Entrar</button>
        <a routerLink="usuario/cadastro">Não tenho cadastro</a>
    </mat-card>
</body>