.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    bottom: 0;
    position: fixed;
}

.footer span {
    font-weight: 300;
    font-size: 1rem;
}

.mat-sidenav-container {
    background-color: rgb(48, 48, 48);
}