<mat-card class="card">
    <mat-card-title>Informe seus dados abaixo:</mat-card-title>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input autocomplete="off" matInput name="nome" [(ngModel)]="nome" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input autocomplete="off" matInput name="usuario" [(ngModel)]="usuario" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>CPF</mat-label>
        <input autocomplete="off" matInput name="cpf" [(ngModel)]="cpf" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Senha</mat-label>
        <input type="password" matInput name="senha" [(ngModel)]="senha" />
    </mat-form-field>
</mat-card>
<br>

<mat-card class="card">
    <mat-card-title>Endereços</mat-card-title>
    <mat-form-field class="input-field">
        <mat-label>País</mat-label>
        <input autocomplete="off" matInput name="pais" [(ngModel)]="pais" />
    </mat-form-field>
    <mat-form-field class="input-field">
        <mat-label>Estado</mat-label>
        <input autocomplete="off" matInput name="estado" [(ngModel)]="estado" />
    </mat-form-field>
    <mat-form-field class="input-field">
        <mat-label>Cidade</mat-label>
        <input autocomplete="off" matInput name="cidade" [(ngModel)]="cidade" />
    </mat-form-field>
    <mat-form-field class="input-field">
        <mat-label>Bairro</mat-label>
        <input autocomplete="off" matInput name="bairro" [(ngModel)]="bairro" />
    </mat-form-field>
    <mat-form-field class="input-field">
        <mat-label>Rua</mat-label>
        <input autocomplete="off" matInput name="rua" [(ngModel)]="rua" />
    </mat-form-field>
    <mat-form-field class="input-field">
        <mat-label>Número</mat-label>
        <input autocomplete="off" type="number" matInput name="numero" [(ngModel)]="numero" />
    </mat-form-field>
    <button class="btnAddEndereco" color="primary" mat-raised-button (click)="addEndereco()"><span class="material-icons">add</span></button>

    <table mat-table [dataSource]="enderecosTabela" class="mat-elevation-z8">
        <ng-container matColumnDef="pais">
            <th mat-header-cell *matHeaderCellDef> País </th>
            <td mat-cell *matCellDef="let endereco"> {{endereco.pais}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let endereco"> {{endereco.estado}} </td>
        </ng-container>

        <ng-container matColumnDef="cidade">
            <th mat-header-cell *matHeaderCellDef> Cidade </th>
            <td mat-cell *matCellDef="let endereco"> {{endereco.cidade}} </td>
        </ng-container>

        <ng-container matColumnDef="bairro">
            <th mat-header-cell *matHeaderCellDef> Bairro </th>
            <td mat-cell *matCellDef="let endereco"> {{endereco.bairro}} </td>
        </ng-container>

        <ng-container matColumnDef="rua">
            <th mat-header-cell *matHeaderCellDef> Rua </th>
            <td mat-cell *matCellDef="let endereco"> {{endereco.rua}} </td>
        </ng-container>

        <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Número </th>
            <td mat-cell *matCellDef="let endereco"> {{endereco.numero}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="enderecoColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: enderecoColumns;"></tr>
    </table>
</mat-card>
<button class="botaoCad" (click)="cadastrar()" mat-raised-button color="primary">Cadastrar</button>