mat-form-field {
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

.btnAddEndereco {
    display: grid;
    margin: auto;
    margin-bottom: 20px;
    width: 100px;
}

.botaoCad {
    margin: auto !important;
    display: table;
    width: 300px;
    margin-top: 10px !important;
}

table {
    width: 100%;
}

.mat-form-field-empty.mat-form-field-label {
    color: lightblue !important;

    background-color: lightcoral !important;

}